<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @investigator.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @investigator.image %>
</p>

<p>
  <strong>Deck link:</strong>
  <%= @investigator.deck_link %>
</p>

<p>
  <strong>Team:</strong>
  <%= @investigator.team_id %>
</p>

<%= link_to 'Edit', edit_investigator_path(@investigator) %> |
<%= link_to 'Back', investigators_path %>
